{% extends "base.html" %}
{% block content %}

<h1>Admin Page</h1>

<div class="ui message">
  <div class="header">
    Login
  </div>
  <p> Kindly login to perfrom any of the below tasks. <br>
      1. You need <em>Developer</em> Credentials to create or edit a lesson or card. <br>
      2. <em>Admin</em> Credentials allows create, edit and delete permissions. <br></p>

      <a href="/login"><button class="ui basic green button">Login</button></a>
</div>


<h3 class="ui header">Lessons</h3>

<h5 class="ui header">Create New Lesson</h5>
<a href="/lessons/create"><button class="ui basic green button">Create Lesson</button></a>

<!-- tip: https://stackoverflow.com/questions/41027382/passing-a-variable-from-a-form-input-to-a-flask-url -->
<div class="ui horizontal divider"></div>
<h5 class="ui header">Edit Lesson</h5>
<form action="{{ url_for('lessson_edit') }}" method="POST" class="ui form">
  <input type="text" class="field" placeholder="Lesson id" name="lesson_id"></input> 
  <br>
  <input class="ui teal button" type="submit" value="Edit Lesson">
</form>

<div class="ui horizontal divider"></div>
<h5 class="ui header">Delete Lesson</h5>
<form action="{{ url_for('lessson_delete') }}" method="POST" class="ui form">
  <input type="text" class="field" placeholder="Lesson id" name="lesson_id"></input> 
  <br>
  <input class="ui red button" type="submit" value="Delete Lesson">
</form>



<div class="ui section divider"></div>
<h3 class="ui header">Cards</h3>
<a href="/cards/create"><button class="ui basic green button">Create Card</button></a>

<div class="ui horizontal divider"></div>
<h5 class="ui header">Edit Card</h5>
<form action="{{ url_for('card_edit') }}" method="POST" class="ui form">
  <input type="text" class="field" placeholder="Card id" name="card_id"></input> 
  <br>
  <input class="ui teal button" type="submit" value="Edit Card">
</form>

<div class="ui horizontal divider"></div>
<h5 class="ui header">Delete Card</h5>
<form action="{{ url_for('card_delete') }}" method="POST" class="ui form">
  <input type="text" class="field" placeholder="Card id" name="card_id"></input> 
  <br>
  <input class="ui red button" type="submit" value="Delete Card">
</form>
{% endblock%}

