{% extends "base.html" %}
{% block content %}
<a href="/concept"><button class="ui basic green button">Concept</button></a>
<div class="ui doubling cards">
  <div class="card">
    <div class="image">
      <img id="animals" src="{{ url_for('static',filename='img/animal.png') }}" alt="Animals" />
    </div>
    <div class="content">
      <div class="header">Animals</div>
      <div class="description">
        Learn about animals
      </div>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img id="animals" src="{{ url_for('static',filename='img/animal.png') }}" alt="Animals" />
    </div>
    <div class="content">
      <div class="header">Animals Part 2</div>
      <div class="description">
        Learn about animals
      </div>
    </div>
  </div>




</div>
{% endblock %}