{% extends "base.html" %}
{% block content %}  
  <div class="ui doubling cards">
    {% for lesson in lesson_data %}
      <div data-id="{{ lesson.id }}" class="card">
        <div class="image">
          <img id="animals" src="{{ url_for('static',filename='img/' + lesson.lesson_image) }}" alt="{{ lesson.lesson_name}}" />
        </div>
        <div class="content">
          <div class="header">{{ lesson.lesson_name }}</div>
          <div class="description">
            {{ lesson.lesson_summary }}
          </div>
        </div>
        <div class="extra content">            
            <a href="/cards/{{ lesson.id }}"><button class="ui basic green button">Start</button></a>
        </div>
      </div>
    {% endfor %}  
  </div>
{% endblock %}

{% block scripts %} 
  <script>
    // Add event listener to flash message close icon
    const deleteBtns = document.querySelectorAll('.delete-button')
    for (let i = 0; i < deleteBtns.length; i++) {
        const btn = deleteBtns[i];
        btn.onclick = function (e) {
          const item = e.target.parentElement;
          const item2 = item.parentElement
            console.log(item)
            console.log(item2)
            item.remove();
            item2.remove();
        }  
    }
      
  </script>
{% endblock %} 